*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url('../images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 130vh;
}
nav{
    background-color:rgb(237,197,21);
    padding: 20% 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3)
}
section{
    padding-top: 100px;
    height: 100vh;
}
